html,body{
  margin:0;padding:0
}

body{
  font: 76% arial,sans-serif
}

p{
  margin:0 10px 10px
}

div#header h1{
  height:80px;
  line-height:80px;
  margin:0;
  padding-left:10px;
  background: #EEE;
  color: #79B30B
}

div#content p{
  line-height:1.4
}

div#notice {
  color:#FF0000;
}

div#navigation{
/*  background:#B9CAFF */
  background:#E0FFFF
}

div#manage{
  background:#E6E6FA
}

div#navi{
  background:#FFDAB9
}

div#rank{
  background:#FAFAD2
}

div#dm{
  background:#FAeeFF
}

div#footer{
  background: #333;
  color: #FFF
}

div#footer p{
  margin:0;
  padding:5px 10px
}
 
div#wrapper{
  float:left;
  width:100%;
  margin-left:-33%
}

div#content{
  margin-left:33%
}

div#manage{
  float:right;
  clear:right;
  width:32.9%
}

div#navigation{
  float:right;
  width:32.9%
}

div#navi{
  float:right;
  clear:right;
  width:32.9%
}

div#rank{
  float:right;
  clear:right;
  width:32.9%
}

div#dm{
  float:right;
  clear:right;
  width:32.9%
}

div#footer{
  clear:both;
  width:100%
}

img.pointer {
  cursor:pointer;
}
